body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

.pull-right {
	float: right;
}

.txt-centre {
	text-align: center;
}
